{% extends "base.html" %}
{% import "bootstrap/wtf.html" as wtf %}

{% block title %}NYUAD Market - Appointment{% endblock %}

{% block content %}

<div class="appointment-content">
    <div class="appointment-patient">Patient: {{ appointment.patient.name }}</div>
</div>

<h4 id="schedule">Schedule</h4>
<div class="schedule-form">
    {{ wtf.quick_form(form) }}
</div>

{% for call in appointment.phone_calls %}
<li class="appointment">
    <div class="phone-call-content">
        <div>Date {{ call.timestamp }}</div>
        <div>Severity {{ call.severity }}</div>
        <div>Symptoms {{ call.symptoms }}</div>
    </div>
</li>
{% endfor %}


{% endblock %}
