{% extends "bootstrap/base.html" %}
<html>
  <head>
    {% if title %}
    <title>{{ title }} - project</title>
    {% else %}
    <title>project</title>
    {% endif %}
  </head>
  <body>
  {% block navbar %}
<div class="navbar navbar-inverse" style='background-color:#FFFFFF' role="navigation">
    <div class="container">
        <div class="navbar-header">
            <a class="navbar-brand" href="{{ url_for('index') }}"><img src="../static/VMedLogo.svg" width="200" height ="35"></img></a>
        </div>
        <div class="navbar-collapse collapse">
            <ul class="nav navbar-nav">
                <li><a href="{{ url_for('about') }}">About</a></li>
                <li><a href="{{ url_for('donate') }}">Donate</a></li>
                {% if g.user.is_authenticated() %}
                <li><a href="{{ url_for('user') }}">Profile</a></li>
                <li><a href="{{ url_for('logout') }}">Logout</a></li>
                {% endif %}
            </ul>
        </div>
    </div>
</div>
{% endblock %}


{% block content %}
    <hr>
    {% with messages = get_flashed_messages() %}
    {% if messages %}
    <ul>
    {% for message in messages %}
        <li>{{ message }} </li>
    {% endfor %}
    </ul>
    {% endif %}
    {% endwith %}
    {% endblock %}
  </body>
</html>
