<!-- extend base layout -->
{% extends "base.html" %}

{% block content %}
    <h1>Hi, {{ user.username }}!</h1>


<ul class="appointments">
    {% for appointment in appointments %}
        <a href="{{ url_for('.appointment', id=appointment.id) }}"><div class="well appointment-content">
            <div class="appointment-patient">Patient: {{ appointment.patient.name }}</div>
            <div class="appointment-patient">Age: {{ appointment.patient.age }}</div>
            <div class="appointment-patient">Gender: {{ appointment.patient.gender }}</div>
            <div class="appointment-patient">Appointment Created: {{ appointment.timestamp }}</div>
        </div></a>

    {% endfor %}
</ul>


{% endblock %}


