<html>
<head>
	<title>VillageMED
	</title>
	<style>
		h1 {position: absolute;
			top: 200px;
			left: 30%;
		}
		button { position: absolute;
				top:300px;		
			}
	</style>
</head>
<body>
<img src="../static/VMedLogo.png" width="200" height ="35"></img>
<br>
<br>
<div>
<img src="../static/SplashImage.jpg" width="100%"></img>

</div>

<center><h1>Remote Medical Care for the World's Neediest</h2></center>
<center>
<button type="button" width="200">Donate</button>
</center>

<center><h2>What we do</h2></center>

<table>
	<tr>
		<td>
			<p> Developing nations have over 3 billion residents in rural areas with extremely limited access to medical care. While cell phone access is widespread, most other technologies such as internet and smart phones are scarce.  VillageMED brokers remote medical consultations between volunteer doctors and underserved communities in rural developing areas.  The technology used is primarily an adaptive IVR system for clients and a web application for donors and volunteer doctors.
			</p>


<center><h2>How it works</h2></center>
<br>
<center>
<table width="400px">
	<tr>
		<td>
			<p>When in need of a medical consultation clients call into local VillageMED phone number with an adaptive IVR</p>
		</td>
	</tr>
	<tr>
		<td>
<br>
	<p>The voice-only menu system records key details for identifying the appropriate medical specialists for assistance including urgency, symptoms, and availability for an appointment.</p>
		</td>
	</tr>
	<tr>
		<td>
<br>
	<p>Volunteer doctors are alerted of patient appointment requests that match their availability and specialty</p>
		</td>
	</tr>
	<tr>
		<td>
<br>
	<p>When a doctor has accepted an appointment request, the client is notified by text message and/or voice message</p>
		</td>
	</tr>
</table>
<center>
</body>


</html>